<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset= "UTF-8">
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="/stylesheets/reset.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/style.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <span class="cercle1"></span>
    <span class="cercle2"></span>
    <span class="cercle3"></span>
    <span class="cercle4"></span>
    <header>
        <div class="header-inner">
          <h1><a href="">〇〇大学弓道部<br>質問ページ</a></h1>
          <div class="nav">
            <div class="li"><a href="/add">質問する</a></div>
            <div class="li"><a href="/noanswer">体験入部の予約をする</a></div>
            <div class="li"><a href="/noanswer">未回答の質問を見る</a></div>
          </div>
        </div>
      </header>
      <div class="main-cards main-noanswer">
        <div class="main-cards-inner">
          <h2>未回答の質問</h2>
          <div class="cards">
            <% for(var i in content) {%>
              <div class="card">
                <div class="card-top">
                  <% var obj = content[i]; %>
                  <p>Q: <%= obj.question %></p>
                </div>
                <div class="card-under">
                  <p><%= obj.createdAt %></p>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>  
  </body>
</html>
